<section class="py-1 ">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto bg-info">
        <div class="row shadow rounded">
          <div class="col-md-8">
            <!-- CUSTOM BLOCKQUOTE -->
            <blockquote class="blockquote blockquote-custom bg-white p-5">
              <div class="blockquote-custom-icon bg-info shadow-sm">
                <i class="fa fa-quote-left text-white"></i>
              </div>
              <p class="mb-0 mt-2  " style="text-indent: 30px;font-family: 'Josefin Sans', sans-serif;
              font-size: 1rem;
              line-height: 25px;
              color:#023047;
              text-align: justify;
  text-justify: inter-word;
              
             ">
                "It is my endeavour to get ready the aspirants to face the technical challenges globally.
                We shoulder the responsibilites of producing the best by incorporating more loaded stuff besides
                placement.In the juncture of finding your identity on technical grounds, we will lay a right
                path "
              </p>
              <footer class="blockquote-footer pt-4 mt-4 border-top"
                style="font-weight: bold;color:darkgoldenrod;font-size: large;">
                Rajesh T
                <cite title="Source Title" style="font-weight:normal;color:black;font-size: small;"> Founder & Chief
                  Instructor</cite>

                <!-- social media icons -->
                <div class="text-right">
                  <a href="https://www.linkedin.com/in/rajesh-t/" target="_blank">
                    <img src="../../assets/social-media-icons/Linkedin.png" width="50px" class="social-icon" alt="">
                  </a>
                  <a href="https://www.facebook.com/profile.php?id=100045631714555" target="_blank">
                    <img src="../../assets/social-media-icons/Facebook.png" width="50px" class="social-icon" alt="">
                  </a>
                  <a href="https://twitter.com/CorporateRajesh" target="_blank">
                    <img src="../../assets/social-media-icons/Twitter.png" width="50px" class="social-icon" alt="">
                  </a>
                  <a href="https://www.instagram.com/rajesh_full_stack_trainer/" target="_blank">
                    <img src="../../assets/social-media-icons/Instagram.png" width="50px" class="social-icon" alt="">
                  </a>
                </div>
              </footer>

              <div></div>
            </blockquote>
            <!-- END -->
          </div>
          <div class="col-md-4 align-items-center justify-content-center d-flex">
            <img class="circle" src="../../assets/imgs/circle-cropped.png" style="border-radius: 50%;" width="80%"
              height=auto alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>