<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-map-marker-alt"></i>
            <div class="cta-text">
              <h4>Find us</h4>
              <span>Hitech city,Hyderabad</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="fas fa-phone"></i>
            <div class="cta-text">
              <h4>Call us</h4>
              <span>999999999</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <i class="far fa-envelope-open"></i>
            <div class="cta-text">
              <h4>Mail us</h4>
              <span>mail@masterscoding.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href="index.html"><img src=".../../../../assets/Master-coding.jpg" width="200px"
                  class="img-fluid rounded" alt="logo"></a>
            </div>
            <div class="footer-text">
              <!-- <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec
                tetur adipisicing
                elit,Lorem ipsum dolor sit amet.</p> -->
            </div>
            <div class="footer-social-icon">
              <span>Follow us</span>

              <a href="https://www.facebook.com/profile.php?id=100045631714555" target="_blank">
                <i class="fab fa-facebook-f facebook-bg">
                </i></a>
              <a href="https://twitter.com/CorporateRajesh" target="_blank">
                <i class="fab fa-twitter twitter-bg"></i>
              </a>
              <a href="https://www.linkedin.com/in/rajesh-t/" target="_blank">
                <i class="fab fa-linkedin linkedin-bg"></i>
              </a>
              <a href="https://www.instagram.com/rajesh_full_stack_trainer/" target="_blank">
                <i class="fab fa-instagram instagram-bg"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">

            </div>

          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscribe</h3>
            </div>
            <div class="footer-text mb-25">
              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button><i class="fab fa-telegram-plane"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
          <div class="copyright-text">
            <p>Copyright &copy; 2018, All Right Reserved</p>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">

        </div>
      </div>
    </div>
  </div>
</footer>